.cardBodyCont {
    text-align: center;
}

.salesIndicator {
    display: inline-block;
    border: 1px solid;
    color: #6d6d6d;
    padding: .2em .6em;
    font-size: .875em;
    font-weight: 600;
    border-radius: 3px;
    margin-bottom: 1em;
}

.salesIndicatorHidden {
    visibility: hidden;
}


.addToCartBtn {
    margin-top: 1em;
}

.currentPrice {
    margin-left: 5px;
}

.regularPrice {
    margin-right: 5px;
    opacity: .5;
}