.cardBodyCont {
    text-align: center;
}

.salesIndicator {
    display: inline-block;
    border: 1px solid;
    color: #6d6d6d;
    padding: .2em .6em;
    font-size: .875em;
    font-weight: 600;
    border-radius: 3px;
    margin-bottom: 1em;

}

.productPrice {
    display: block;
}