header {
    padding-top: 2.6em;
    padding-bottom: 0;
}

.colFull {
    max-width: 66em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.6em;
}

.siteBranding {
    width: 73%;
    float: left;
    margin-right: 4.3%;
    line-height: 1.214;
}

.siteBranding a {
    font-size: 2em;
    letter-spacing: -1px;
    font-weight: 700;
    color: #333333;
    text-decoration: none
}