nav {
    width: 73%;
    margin-right: 4.3%;
}

.navLink {
    color: #333333 !important;
}

.navLink:hover {
    color: #747474 !important;
}

.container {
    padding-left: 0px !important;
}

div.navbarNav a:first-of-type {
    padding-left: 0px !important;
}


