.siteFooter {
    background-color: #f0f0f0;
    color: #6d6d6d;
}
.colFull {
    display: flex;
    width: 84%;
    margin: auto;
    height: auto;
    padding: 0 2.6em;
    box-sizing: content-box;
}