.siteBranding {
    width: 73%;
    margin-right: 4.3%;
    line-height: 1.214;
}

.siteBranding a {
    font-size: 2em;
    letter-spacing: -1px;
    font-weight: 700;
    color: #333333;
    text-decoration: none
}

.siteBranding a:hover {
    color: #747474;
}

